*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	height: 100%;
	overflow-y: scroll;
}

body {
	background: $white;
	font: 16px/1.4 $montserrat;
	font-weight: 300;
	color: $darkGray;
}

h1,
h2,
h3,
h4 {
	color: $purple-black;
	font-weight: 700;
	line-height: 1.7;
	/*margin: 1em 0 15px;*/
	padding: 0;
	@include mobile {
		line-height: 1.4;
	}
}

h1 {
	font-size: 28px;
	a {
		color: inherit;
	}
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
	color: $purple;
}

p {
	margin: 15px 0;
	font-size: 14px;
}

a {
	color: $purple;
	text-decoration: none;
	cursor: pointer;
	&:hover,
	&:active {
		color: $purple-pink;
	}
	transition: .3s;
}

ul {
	margin: 15px 0;
	padding-left: 30px;
}

ul {
	list-style-type: disc;
}

em,
i {
	font-style: italic;
}

strong,
b {
	font-weight: 700;
}

img {
	max-width: 100%;
}

// Specify the color of the selection
::-moz-selection {
	color: $black;
	background: $lighterGray;
}

::selection {
	color: $black;
	background: $lighterGray;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	min-width: 320px;
}

.site-content {
	width: 100%;
	background-color: #f9f9f9;
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;
}

.site-content .container {
	display: flex;
	padding: 0;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
}

.site-content a {
	&:hover,
	&:active {
		color: $purple;
	}
	transition: .3s;
}

.container {
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 10px;
	width: 100%;
}

.wrapper-masthead {
	padding: 10px 50px;
	@include mobile {
		padding: 0 10px;
	}
}

.masthead {
	padding: 20px 0;
	@include mobile {
		text-align: center;
	}
}

.site-logo {
	float: left;
	width: 85px;
	height: 75px;
	padding-right: 10px;
	margin-top: -3px; // @TODO: Vertically middle align
	@include mobile {
		float: none;
		display: block;
		margin: 0 auto;
		width: 75px;
		padding: 0;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.site-info {
	float: left;
	@include mobile {
		float: none;
		display: block;
		margin: 0 auto;
	}
}

.site-name {
	margin: 0;
	color: $purple;
	cursor: pointer;
	font-family: $coves;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: 1px;
}

.site-description {
	margin: -5px 0 0 0;
	color: $gray;
	font-family: $coves;
	font-size: 20px;
	line-height: 1.5;
	@include mobile {
		margin: 3px 0;
	}
}

nav {
	float: right;
	margin-top: 20px; // @TODO: Vertically middle align
	font-size: 18px;
	font-weight: 400;
	@include mobile {
		float: none;
		margin-top: 10px;
		display: block;
	}
	a {
		margin-left: 20px;
		color: $purple-dark;
		text-align: right;
		@include mobile {
			margin: 0 10px;
			color: $purple-pink;
			display: inline-block;
		}
	}
}

.wrapper-footer {
	padding: 0 50px;
	@include mobile {
		padding: 0 10px;
	}
}

footer {
	padding: 20px 0;
	padding-top: 25px;
	text-align: center;
}

.flex-grow {
	flex: 1;
}

.flex-start {
	align-self: flex-start;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	transform: scale(1);
}

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}
