*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	height: 100%;
	overflow-y: scroll;
}

body {
	background: $white;
	font: 16px/1.4 $montserrat;
	font-weight: 300;
	color: $darkGray;
}

hr {
	margin: 0 10px;
	padding: 0;
	border: 0;
	height: 1px;
	background: $purple-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $purple-black;
	font-weight: 700;
	line-height: 1.7;
	/*margin: 1em 0 15px;*/
	padding: 0;
	@include mobile {
		line-height: 1.4;
	}
}

h1 {
	font-size: 28px;
	a {
		color: inherit;
	}
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
	color: $purple;
}

p {
	margin: 15px 0;
	font-size: 14px;
}

a {
	color: $purple;
	text-decoration: none;
	cursor: pointer;
	&:hover,
	&:active {
		color: $purple-pink;
	}
	transition: .3s;
}

ul,
ol {
	margin: 15px 0;
	padding-left: 30px;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
	margin: 0;
}

ul ul,
ol ul {
	list-style-type: circle;
}

em,
i {
	font-style: italic;
}

strong,
b {
	font-weight: 700;
}

img {
	max-width: 100%;
}

blockquote {
	margin: 1.8em .8em;
	border-left: 2px solid $gray;
	padding: 0.1em 1em;
	color: $gray;
	font-size: 18px;
	font-style: italic;
}

// Specify the color of the selection
::-moz-selection {
	color: $black;
	background: $lighterGray;
}

::selection {
	color: $black;
	background: $lighterGray;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	min-width: 320px;
}

.site-content {
	width: 100%;
	background-color: #f9f9f9;
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;
}

.site-content .container {
	display: flex;
	padding: 0;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
}

.site-content a {
	&:hover,
	&:active {
		color: $purple;
	}
	transition: .3s;
}

.container {
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 10px;
	width: 100%;
}

.wrapper-masthead {
	padding: 10px 50px;
	@include mobile {
		padding: 0 10px;
	}
}

.masthead {
	padding: 20px 0;
	@include mobile {
		text-align: center;
	}
}

.site-logo {
	float: left;
	width: 85px;
	height: 75px;
	padding-right: 10px;
	margin-top: -3px; // @TODO: Vertically middle align
	@include mobile {
		float: none;
		display: block;
		margin: 0 auto;
		width: 75px;
		padding: 0;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.site-info {
	float: left;
	@include mobile {
		float: none;
		display: block;
		margin: 0 auto;
	}
}

.site-name {
	margin: 0;
	color: $purple;
	cursor: pointer;
	font-family: $coves;
	font-size: 40px;
	line-height: 1.1;
	letter-spacing: 1px;
}

.site-description {
	margin: -5px 0 0 0;
	color: $gray;
	font-family: $coves;
	font-size: 20px;
	line-height: 1.5;
	@include mobile {
		margin: 3px 0;
	}
}

nav {
	float: right;
	margin-top: 20px; // @TODO: Vertically middle align
	font-size: 18px;
	font-weight: 400;
	@include mobile {
		float: none;
		margin-top: 10px;
		display: block;
	}
	a {
		margin-left: 20px;
		color: $purple-dark;
		text-align: right;
		@include mobile {
			margin: 0 10px;
			color: $purple-pink;
			display: inline-block;
		}
	}
}

.page {
	padding: 0 20px;
	max-width: 940px;
	width: 100%;
}

.page .page-title {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}

.image-post {
	padding: 0 20px;
	max-width: 940px;
	width: 100%;
	display: flex;
}

.portrait {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-direction: row;
	width: 100%;
}

.landscape {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
}

.landscape .img {
	width: 100%;
	height: auto;
}

.portrait .img {
	width: auto;
	height: auto;
	margin-right: 40px;
	text-align: left;
	max-width: 60%;
}

.museum-piece img,
.museum-piece iframe {
	display: block;
	margin: 20px auto;
	box-shadow: 0 -20px 0px -5px $lighterGray, 0 20px 0px -5px $lighterGray;
}

.img img {
	width: auto;
	height: auto;
	object-fit: contain;
}

.img iframe {
	width: 100%;
	height: auto;
	min-height: 600px;
}

.text {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100px;
}

.contact {
    justify-content: flex-start;
}

.museum-plaque {
	padding: 10px 20px 0px 20px;
	background: $white;
	box-shadow: 0px 0px 20px $lighterGray;
	width: 100%;
}

.portrait .text {
	align-items: center;
	align-self: center;
	text-align: left;
}

.landscape .text {
	margin-top: 20px;
	align-self: flex-start;
	align-items: flex-start;
	text-align: center;
}

.text .post-title {
	width: 100%;
	min-height: 20px;
	font-weight: 700;
}

.text h2.post-title {
	font-style: italic;
}

.text .entry {
	width: 100%;
	min-height: 20px;
}

.flex-start {
	align-self: flex-start;
}

.img.medium {
	max-width: 300px;
}

.flex-grow {
	flex: 1;
}

.left-align {
	text-align: left;
}

.year,
.medium {
    margin: 10px 0;
    font-weight: 500;
}

.entry-description {
    margin-top: 20px;
    max-width: 320px;
}

.landscape .entry-description {
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 640px) {
	.portrait {
		flex-direction: column;
		justify-content: flex-start;
	}
	.portrait .img {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	.portrait .text {
		margin-top: 20px;
		text-align: center;
		align-items: flex-start;
		align-self: flex-start;
	}
	.img.medium {
		max-width: 350px;
		margin-right: auto;
		margin-left: auto;
	}
	.entry-description {
        margin-left: auto;
        margin-right: auto;
    }
}

.page-nav {
  padding: 0 20px;
  max-width: 940px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  height: 24px;
}

.page-nav a {
  color: $purple-dark;
}

.page-nav a:hover {
  color: $purple-pink;
}

.page-nav .next {
  width: 33%;
  text-align: right;
}

.page-nav .prev {
  width: 33%;
  text-align: left;
}

.page-nav .home {
  width: 33%;
  text-align: center;
}

.wrapper-footer {
	padding: 0 50px;
	@include mobile {
		padding: 0 10px;
	}
}

footer {
	padding: 20px 0;
	padding-top: 25px;
	text-align: center;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	zoom: 1;
}

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}
