.gallery {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	margin-bottom: -25px;
	text-align: center;
}

.gallery:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#filters {
    font-size: 14px;
    text-transform: uppercase;
	text-align: center;
	padding: 0 20px;
	list-style: none;
	margin: 0;
	margin-bottom: 25px;
	border: 1px solid #e0e0e0;
	border-radius: 50px;
	display: inline-block;
}

#filters li {
	float: none;
	display: inline-block;
	padding: 10px;
}

#filters li span {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: $purple-black;
	cursor: pointer;
	transition: .3s;
}

#filters li span:hover {
    color: $purple;
}

#filters li span.active {
	color: $purple;
}

#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: calc(1440px/4); //calc(min(100vw - 20px, 1420px)/4)
	height: calc(1440px/4*5/6); //calc(min(100vw - 20px, 1420px)/4*5/6)
	margin: 0;
	display: none;
	float: left;
	overflow: hidden;
}

.portfolio-wrapper {
    height: 100%;
	overflow: hidden;
	position: relative !important;
	cursor: pointer;
}

.portfolio img {
    transform: scale(1.01);
    width: 100%;
    height: 100%;
	object-fit: cover;
	transition: all 600ms;
}

.portfolio-img:after, .portfolio-img:before {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}

.portfolio-img:after {
    content: '\A';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(104,87,190,0.7);
}

.portfolio:hover .portfolio-img:after,
.portfolio:hover .portfolio-img:before {
    opacity: 1;
}

.portfolio .label {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	transition: all 600ms;
	opacity: 0;
	color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio .text-title {
    font-size: 16px;
	font-weight: 700;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px 5px 10px;
	text-transform: uppercase;
}

.portfolio .text-category {
	font-size: 14px;
	display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 10px 10px;
}

.portfolio:hover .label {
	opacity: 1;
}

.portfolio:hover img {
	transform: scale(1.2);
}

//https://fancyapps.com/fancybox/3/
//https://github.com/fancyapps/fancybox/issues/2288
.portfolio-caption {
  font-size: 14px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  z-index: 99996;
  pointer-events: none;
  text-align: center;
  transition: opacity 200ms;
  background: none;
  color: #eee;
}

.portfolio-caption a,
.portfolio-caption a:link,
.portfolio-caption a:visited,
.portfolio-caption a:hover {
    color: $purple-light;
    pointer-events: auto;
}

//Needed because firefox doesn't support min()
@media only screen and (max-width: 1440px) {
	#portfoliolist .portfolio {
		width: calc(100vw/4);
		height: calc(100vw/4*5/6);
	}
}

@media only screen and (max-width: 1080px) {
	#portfoliolist .portfolio {
		width: calc(100vw/3);
		height: calc(100vw/3*5/6);
	}
}

@media only screen and (max-width: 720px) {
	#portfoliolist .portfolio {
		width: calc(100vw/2);
		height: calc(100vw/2*5/6);
	}
}

@media only screen and (max-width: 560px) {
	#filters {
        border: none;
    }
}

@media only screen and (max-width: 510px) {
	#filters {
        width: 350px;
    }
    #filters li span {
        display: inline-block;
    }
}

@media only screen and (max-width: 360px) {
    #filters {
        width: 100%;
    }
	#portfoliolist .portfolio {
		width: 100vw;
		height: calc(100vw*5/6);
	}
}

@media only screen and (max-width: 320px) {
    #portfoliolist .portfolio {
        width: 320px;
    	height: calc(320px*5/6);
    }
}