// Colors
$blue: #4183C4;
$bg-color: hsl(150, 45%, 50%);
$purple: #6857be;
$purple-dark: #28246b;
$purple-light: #b3abcf;
$purple-pink: #d01c8a;
$purple-black: #150e38;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$gray2: #999;
$lightGray: #ccc;
$lighterGray: #eee;
$white: #fff;

// Font stacks
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face {
  font-family: "coves";
  src: url("../assets/fonts/coves.otf");
}
@font-face {
  font-family: "coves-bold";
  src: url("../assets/fonts/coves-bold.otf");
}
$coves: "coves", Helvetica, Arial, sans-serif;
$coves-bold: "coves-bold", Helvetica, Arial, sans-serif;
$montserrat: 'Montserrat', sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}