---
layout: default
---

<div class="text flex-grow contact">
    <div class="post-title">
        <h2>{{ page.title }}</h2>
    </div>

    <form class="gform form form-stacked" method="POST"
          action="https://script.google.com/macros/s/AKfycbzyTTvulsH4amApkrtwddR6zR4Ip50oLzbsaQwNJ3kRIWoe35BSZEE6WnQXOIz1OzKk8Q/exec">

        <div class="entry left-align page-content">
            {{ content }}
        </div>

        <div class="form-elements">
            <fieldset class="form-group">
                <label for="name">Name:</label>
                <input id="name" name="name" type="text" value="" placeholder="Your Name" />
            </fieldset>

            <fieldset class="form-group">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="10" placeholder="Your message..."></textarea>
            </fieldset>

            <fieldset class="form-group">
                <label for="email">Email:</label>
                <input id="email" name="email" type="email" value="" required placeholder="your.email@domain.com"/>
            </fieldset>

            <fieldset class="form-group honeypot-field">
                <label for="honeypot">honeypot</label>
                <input id="honeypot" type="text" name="honeypot" value="" />
            </fieldset>

            <button class="form-button">Send</button>
        </div>

        <div class="loader">
            <div class="check">
                <span class="check-one"></span>
                <span class="check-two"></span>
            </div>
        </div>

        <div class="thanks">
            <p>Thanks for contacting me! I will get back to you soon!</p>
        </div>
    </form>
</div>

<script src="{{ site.baseurl }}/js/contact.js" type="text/javascript"></script>