---
layout: default
---

<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/lightbox.js"></script>

<div class="gallery">
    <ul id="filters" class="clearfix">
        <li><span class="filter active" data-filter="all">All</span></li>
        {% for c in site.portfolio-categories %}
        <li><span class="filter" data-filter='.{{ c | downcase | replace: " ", "-" }}'>{{ c }}</span></li>
        {% endfor %}
    </ul>

    <div id="portfoliolist">
        {% for i in site.portfolio-order %}
        {% for p in site.portfolio %}
        {% if i == p.slug %}
        <div class='portfolio {{ p.category | downcase | replace: " ", "-" }}' data-cat='{{ p.category | downcase | replace: " ", "-" }}'>
            <div class="portfolio-wrapper">
                <a href="{{ p.image }}" data-lightbox='{{ p.category | downcase | replace: " ", "-" }}' data-order="{{ forloop.index }}"
                   data-title="<span style='font-weight:bold'>{{ p.title }}</span> • {{ p.category }} • <a href = '{{ site.baseurl }}{{ p.url }}' target='_blank'>Details</a>">
                    <img src="{{ p.image }}" alt="{{ p.image-alt }}"/>
                </a>
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">{{ p.title }}</a>
                        <span class="text-category">{{ p.category }}</span>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var filterList = {
			init: function() {
				// MixItUp plugin
				// http://mixitup.io
				$('#portfoliolist').mixItUp({
  				    selectors: {
    			        target: '.portfolio',
    			        filter: '.filter'
    		        },
    		        load: {
      		            filter: 'all'
      		        }
				});
			}
		};
		filterList.init();
	});
</script>
