---
layout: default
---

<div class="gallery">
    <ul id="filters" class="clearfix">
        <li><span class="filter active" data-filter="all">All</span></li>
        {%- for c in site.portfolio-categories -%}
        <li><span class="filter" data-filter='.{{ c | downcase | replace: " ", "-" }}'>{{ c }}</span></li>
        {%- endfor -%}
    </ul>
    <div id="portfoliolist">
        {%- for i in site.portfolio-order -%}
        {%- for p in site.portfolio -%}
        {%- if i == p.slug -%}
        <div class='portfolio {{ p.category | downcase | replace: " ", "-" }}' data-cat='{{ p.category | downcase | replace: " ", "-" }}'>
            <div class="portfolio-wrapper">
                <a class="image-thumb" href="{{ p.image }}" data-fancybox='{{ p.category | downcase | replace: " ", "-" }}'
                   data-caption="<span style='font-weight:bold'>{{ p.title }}</span> • {{ p.category }} • <a href='{{ site.baseurl }}{{ p.url }}' target='_blank'>Details</a>">
                    <img src="{{ p.image }}" alt="{{ p.image-alt }}"/>
                </a>
                <div class="label">
                    <div class="label-text">
                        <a href="{{ site.baseurl }}{{ p.url }}" target="_blank">
                        <span class="text-title">{{ p.title }}</span>
                        <span class="text-category">{{ p.category }}</span>
                        </a>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>
        {%- endif -%}
        {%- endfor -%}
        {%- endfor -%}
    </div>
</div>