---
layout: default
---

<div class="image-post {{ page.mode }}">
    {% if page.feature-img %}
    <div class="img">
        <img src="{{ page.feature-img }}" alt="{{ page.feature-img-alt }}"/>
    </div>
    {% endif %}
    <div class="text">
        <div class="post-title">
            <h2>"{{ page.title }}"</h2>
        </div>

        <div class="entry">
        {{ content }}
        </div>
    </div>
</div>

<div class="page-nav">
    {% if page.previous.url %}
    <div class="prev"><a href="{{page.previous.url}}"><i class="nav-icon arrow-left"></i></a></div>
    {% else %}
    <div class="prev">&nbsp;</div>
    {% endif %}
    <div class="home"><a href="{{ site.url }}"><i class="nav-icon menu"></i></a></div>
    {% if page.next.url %}
    <div class="next"><a href="{{page.next.url}}"><i class="nav-icon arrow-right"></i></a></div>
    {% else %}
    <div class="next">&nbsp;</div>
    {% endif %}
</div>
